html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../../assets/backgrounds/background-login.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page_login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 25rem;
  height: 34rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 0;
  justify-content: center;
  
}

.imagem_logo {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;  
  align-items: flex-start;
  margin-bottom: 20px;
}

.imagem_logo img {
  width: 200px;
  height: auto;
}

.form_login{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 66%;
}

.form_login input{
    
    background-color: #9aa2b6;
    height: 2rem;
    width: 27rem;
    align-items: center;
    border-radius: 9px;
    border: none;
    padding: 0.5rem;
    

    
}

.form_login input.error{
     border-radius: 20px;
}

.container_checkbox{
  display: flex;
  flex-direction: row;
  width: 100%;
  
}

.checkbox{
  margin-left: 2rem;
}

.container_btn_logar button{
  width: 20rem;
  background-color: #0D0E2D;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container_btn_cadastrar button{
   width: 20rem;
  background-color: #0D0E2D;
  margin-bottom: 8px;
  
}


.container_btn_cadastrar a{
  color: white;
  text-decoration: none;
}



.container_esqueci_senha a{
  color : white;
  text-decoration: underline;
}
