body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 60rem;
    height: 20rem;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

.container .title{
    text-align: center;
}   

.input{
    margin-left : 10rem;
}

.inputRequest div{
    width: 40rem;
}

.buttons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons button{
  width: 10rem;
  background-color: #0D0E2D;
  margin-bottom: 8px;
  margin-left: 1.5rem;
}